
.about-section {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  max-width: 80%;
  font-family: 'Arimo', sans-serif;
  color: #f1f1f1;
  background: rgba(33, 33, 33, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  gap: 2rem; 
  margin-bottom: 2rem;
  margin-top: 12vh; 

}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 600px;
  height: 700px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  border: 2px solid white
}

.about-image img:hover {
  transform: scale(1.05);
}

.about-text {
  flex: 2;
  text-align: left;
}

.about-text section {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
}

strong {
  color: #00b4d8; 
}


@media (max-width: 1400px) {
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .about-image {
    order: 1; 
    margin-bottom: 1.5rem;
  }

  .about-text {
    order: 2;
    text-align: center;
  }

  .about-image img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    order: 1;
    margin-bottom: 1.5rem;
  }

  .about-text {
    order: 2; 
    text-align: center;
  }

  .about-image img {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .about-image img {
    width: 440px;
    height: 500px;

  }
}
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image {
    margin-right: 0;
    margin-bottom: 1.5rem;
    
  }
  .about-image img {
    width: 170px;
  height: 200px;
  border: 2px solid white
  }

  .about-text {
    text-align: left;
  }
}
