.navbar {
  background-color: #202020;
  border-bottom: 3px solid #ffffff;
  height: 10vh;
}

.navbar-logo {
  width: 50px;
  margin-right: 10px;
}

.navbar-toggler {
  margin-left: auto;
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar {
    height: 10vh;

  }
  .navbar-collapse {
    background-color: #202020; 
    position: absolute;
    top: 15vh; 
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

